<div class="container">
    <div class="message-container" scroll-glue>
        <table class="table">
        <tr ng-repeat="message in vm.messageList | orderBy:'date'">
            <td>{{message.user.nickname}}</td><td>{{message.body}}</td><td><div>{{message.date | date:'HH:mm:ss'}}</div><div>{{message.date | date:'MM/dd/yyyy'}}</div></td>
        </tr>
        </table>
    </div>

    <form name="messageForm" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.message" placeholder="Enter message" required >
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.send()">Send</button>
    </form>
</div>
