<div class="v-align-middle">
  <form class="form-inline" ng-submit="vm.join()">
    <div class="form-group">
      <input type="text" class="form-control" id="nickname" placeholder="Enter nickname" ng-model="vm.nickname" required >
    </div>
    <button type="submit" class="btn btn-primary">Join</button>
  </form>
</div>